* {
    padding: 0;
    margin: 0;
    /* border: solid 1px black; */
    max-width: 1500px;
}

body {
    font-size: 16px;
    font-family: 'Sanchez', serif;
}

header {
    z-index: 100;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
}

#hero {
    margin-bottom: -4px;
    width: 100%;
    min-width: 750px;
}

#whitespace {
    background-color: white;
    z-index: 99;
    margin-bottom: -223px;
    width: 100%;
    height: 114px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#nav-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header ul {
    list-style: none;
    border-top: solid 27px white;
    border-bottom: solid 27px white;
    background-color: rgb(96, 96, 96);
    font-size: 2.25rem;
    line-height: 2.25rem;
    font-family: 'Patua One', serif;
    letter-spacing: .1rem;
    height: 3.75rem;
    display: flex;
    align-items: center;
    margin-top: 57px;
}

#left-nav {
    flex: 1;
    justify-content: flex-end;
    padding-right: 22px;
}

#right-nav {
    flex: 1;
    justify-content: flex-start;
    padding-left: 22px;    
}

#logo {
    margin-top: 35px;
}

header li {
    text-transform: uppercase;
    margin: 0 22px;
}

header a, header a:visited {
    color: rgb(232, 232, 232);
    text-decoration: none;
}

header a:hover {
    color: white;
}

#faq-locator, #shop-locator {
    position: relative;
    top: -205px;
    visibility: hidden;
}

.q-and-a {
    display: flex;
    justify-content: center;
    min-height: 485px;
    margin-bottom: 27px;
    padding-bottom: 136px;
    box-sizing: border-box;
}

.q-and-a h2, .q-and-a p {
    color: white;
}

.q-and-a h2 {
    font-size: 4rem;
    letter-spacing: .2rem;
    width: 400px;
    padding-top: 120px;
}

.q-and-a > * {
    margin: 0 62px;
}

.q-and-a p {
    font-size: 1.125rem;
    font-family: 'Sanchez', serif;
    width: 380px;
    line-height: 1.6rem;
    letter-spacing: .02rem;
    padding-top: 136px;
}

.q-and-a:nth-child(2) {
    background-color: rgb(120, 38, 10);
    margin-top: -58px;
}

.q-and-a:nth-child(3) {
    background-color: rgb(0, 110, 100);
}

.q-and-a:nth-child(4) {
    background-color: rgb(27, 165, 152);
}

.q-and-a:nth-child(5) {
    background-color: rgb(96, 96, 96);
    position: relative;
}

.pointer {
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 150px solid rgb(96, 96, 96);
    position: absolute;
    top: 485px;
    left: 177px;
}

#locations-locator {
    position: relative;
    top: -98px;
    visibility: hidden;
}

#locations-section {
    background-color: rgb(196, 74, 32);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

#locations-section h3 {
    font-size: 2.25rem;
    font-family: 'Patua One', serif;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: white;    
    margin: 196px auto 0 auto;
}

#locations-section h3+p {
    color: white;    
    margin: 0 auto;
    font-size: 1.125rem;
    font-family: 'Sanchez', serif;
    line-height: 1.6rem;
    letter-spacing: .02rem;
}

#locations-frame {
    box-sizing: border-box;
    background-color: white;
    width: 900px;
    padding: 60px 80px;
    margin-top: 50px;
}

#locations-frame ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

#locations-frame li {
    color: rgb(96, 96, 96);
    line-height: 1.4rem;
}

#locations-frame h4 {
    color: rgb(96, 96, 96);
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    font-size: 1.125rem;    
}

#locations-frame p {
    color: rgb(96, 96, 96);
    text-align: center;
    line-height: 1.4rem;
}

hr {
    width: 550px;
    margin: 3em auto;
    height: 1px;
    border: 0;
    border-top: 2px solid rgb(196, 74, 32);
}

#about {
    padding-top: 54px;
}

#about-locator {
    position: relative;
    top: -303px;
    visibility: hidden;
}

#about-heading {
    background-color: rgb(120, 38, 10);
    width: 900px;
    margin: 0 auto 27px auto;
    padding: 30px 0;
    box-sizing: border-box;
}

#about h3 {
    font-size: 2.25rem;
    font-family: 'Patua One', serif;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: white;
    text-align: center;    
}

#about-image-wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
}

.cross {
    position: relative;
}

.cross div:first-child {
    width: 78px;
    height: 8px;
    background-color: rgb(120, 38, 10);    
}

.cross div:nth-child(2) {
    position: absolute;
    top: -35px;
    left: 35px;
    width: 8px;
    height: 78px;
    background-color: rgb(120, 38, 10);    
}

#shop {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 27px;
    background-color: rgb(27, 165, 152);
}

#shop h3 {
    font-size: 2.25rem;
    font-family: 'Patua One', serif;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: white;
}

.story p{
    width: 550px;
    margin: 35px auto;
    color: rgb(96, 96, 96);
    line-height: 1.4em;  
}

.story {
    padding-bottom: 100px;
}

h2 {
    font-family: 'Patua One', serif;
    margin-bottom: 10px;
    font-size: 1.5em;
}

#cookie-needs {
    margin-top: 50px;
}

#data {
    display: flex;
    justify-content: center;
}

table {
    background-color: rgb(0, 110, 100);
    padding: 40px;
    border-spacing: 3px;
    font-family: 'Montserrat', sans-serif;
}

td {
    background-color: white;
    border: none;
    padding: 7px;
    text-align: center;
}

tr:nth-child(even) td {
    background-color: rgb(232, 232, 232);
}

th[scope="row"] {
    text-align: right;
    padding: 7px;
    color: white;
    font-family: 'Sanchez', serif;
}

th[scope="column"] {
    padding: 2px 7px;
    color: white;
    font-family: 'Sanchez', serif;
}

#data td:last-child, tfoot td {
    background-color: rgb(27, 165, 152);
    color: white;
}

#grand-total {
    font-weight: bold;
}

.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, .9);
}

form {
    background-color: rgb(232, 232, 232);
    padding: 40px;   
    width: 300px;
    position: absolute;
}

fieldset {
    padding: 30px;
    display: flex;
    justify-content: center;
}

legend {
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Patua One', serif;
}

input[type=number] {
    width: 50px;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 30px;
    width: 200px;
    height: 1.3rem;
    padding: 2px;
    padding-left: 4px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    border: none;
}

#button-box {
    display: flex;
    justify-content: center;
}

button {
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    margin: 10px;
    border: none;
    color: white;
}

button[type="button"] {
    background-color: rgb(96, 96, 96);
}

button[type="submit"] {
    background-color: rgb(0, 110, 100);
}