* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
    font-family: 'Sanchez', serif;
}

h2 {
    font-family: 'Patua One', cursive;
    margin-bottom: 10px;
    font-size: 1.5em;
}

#cookie-needs {
    margin-top: 50px;
}

#data {
    display: flex;
    justify-content: center;
}

table {
    background-color: rgb(0, 120, 109);
    padding: 40px;
    border-spacing: 3px;
    font-family: 'Montserrat', sans-serif;
}

td {
    background-color: white;
    border: none;
    padding: 7px;
    text-align: center;
}

tr:nth-child(even) td {
    background-color: rgb(221, 221, 224);
}

th[scope="row"] {
    text-align: right;
    padding: 7px;
    color: white;
    font-family: 'Sanchez', serif;
}

th[scope="column"] {
    padding: 2px 7px;
    color: white;
    font-family: 'Sanchez', serif;
}

#data td:last-child, tfoot td {
    background-color: rgb(29, 180, 166);
}

#grand-total {
    font-weight: bold;
}

form {
    background-color: rgb(221, 221, 224);
    margin: 30px auto;
    padding: 40px;   
    width: 300px;
}

fieldset {
    padding: 30px;
    display: flex;
    justify-content: center;
}

legend {
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Patua One', cursive;
}

input[type=number] {
    width: 50px;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 30px;
    width: 200px;
    height: 1.5em;
    padding: 2px;
    font-family: 'Montserrat', sans-serif;
}

button {
    padding: 5px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}